*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container{
    width: 600px;
    height: 200px;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    padding: 50px;
    margin-left: 10px;
}
.container::-webkit-scrollbar {display: none;}

section{
    min-width: 300px;
    height: 100%;
    font-size: 20px;
    scroll-snap-align: center;
    border-radius: 20px;
}

section:nth-child(1){
    background-color: red;
}

section:nth-child(2){
    background-color: aquamarine;
}
section:nth-child(3){
    background-color: brown;
}

section:nth-child(4){
    background-color: yellow;
}

/* ::-webkit-scrollbar {display: none;} */
